<%= @name1 %> vs. <%=@name2%>
<%= @name2hp %>/60 HP
<label for="Attack opponent">
  <form action="/attack" method="get">
  <input type="submit" id="Attack opponent" value="Attack!">
  </form>
</label>
<% if @lastaction == :p1attack %>
<div> Attacked <%= @name2 %>'s monster for 10 damage!</div>
<% end %>


